name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: paolino/dev-assets/setup-nix@v0.0.1
        with:
          cachix-auth-token: "${{ secrets.CACHIX_AUTH_TOKEN }}"

      - name: Build
        run: nix build .#lib --quiet

      - name: Test
        run: nix build .#unit-tests --quiet

      - name: Fourmolu
        run: nix develop --command fourmolu -m check lib test

      - name: HLint
        run: nix develop --command hlint lib test

      - name: Nixfmt
        run: nix develop --command nixfmt --check flake.nix nix/*.nix

  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: paolino/dev-assets/setup-nix@v0.0.1
        with:
          cachix-auth-token: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      - run: nix develop github:paolino/dev-assets?dir=mkdocs -c mkdocs build --strict
